<%- include layouts/header.ejs %>
    
        <h2>Aplicação feita com Node e Cassandra</h2>
        <p>
        Primeiro &nbsp;<a class="a-inside init" href="/cassandrainfo">Iniciar cassandra!</a>&nbsp;
        </p>
        
<%- include layouts/footer.ejs %>
